body {
    color: #efefef;
}

.text-dark {
    color: #121212;
}

.parent {
    display: flex;
    flex-direction: column;
    margin-bottom: -150px;
    z-index: 100;
}

.suggestion {
    background-color: #ffffff;
    padding: 0px 10px 3px 3px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #ced4da;
}

.suggestion:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

}

.suggestion:hover {
    cursor: pointer;
    background-color: #dfdfdf;
}

.outer {
    width: 90%;
}

#weatherContainer {
    border-radius: 0.5em;
    background:linear-gradient(to bottom right, #78c5ef, #51a0d5);
}

h2 {
    margin-bottom: 0;
}

h3.label {
    font-size: 14px;
}

.weather {
    display: inline-block;
    position: relative;
}

span#currentTemp {
    font-size: 56px;
    position: relative;
}

span.data {
    font-size: 28px;
}

span.unit-large {
    padding: 6px;
    display: inline-block;
    font-size: 24px;
}

span.unit {
    font-size: 1em;
}

span.nav-link {
    color: #efefef;
    cursor: pointer;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.nav-link:hover {
    color: #efefef;
}

span.nav-link.active {
    color: #efefef !important;
    background-color: transparent !important;
    text-decoration: underline;
}

.details {
    padding-top: 2em;
}

.hidden {
    display: none;
}

i.bi {
    font-size: 36px;
}

@media only screen and (min-width: 768px) {
    .outer {
        width: 75%
    }

    h3.label {
        font-size: 16px;
    }

    i.bi {
        font-size: 64px;
    }
}

@media only screen and (min-width: 992px) {
    .outer {
        width: 65%
    }
}

